<header>
  <section class="mini-promo"><p>Free Shipping on all orders over $100</p></section>
  <section class="menu">
    <nav>
      <div class=""><a routerLink="/home">Logo</a></div>
      <div class=""><a routerLink="/shop/1000029">Shop</a></div>
      <div class=""><a routerLink="/design">Design Studio</a></div>
      <div class=""><a href="#">+</a></div>
      <div class="expanded"><a href="#">Lorem Ipsum</a></div>
      <div class=""><a href="#">Login</a></div>
      <div class="cart"><a href="#">Cart</a></div>
    </nav>
  </section>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <section>
    Footer
  </section>
</footer>